{% extends 'base.html.twig' %}

{% block title %}Articles | all{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# on vérifie s'il y a des messages de type 'success' #}
            {#{% for message in app.flashes('success') %}#}
            {#<div class="alert alert-success">#}
            {#{{ message }}#}
            {#</div>#}
            {#{% endfor %}#}

            {# pour afficher tout type de message flash #}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="col-md-6">
                {{ dump(categories) }}
                {% for categorie in categories %}
                    <h3>{{ categorie.libelle }}</h3>
                {% endfor %}
            </div>

            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}