{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    {#{{ dump(articles) }}#}

    {# pour afficher tout type de message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# affichage des articles #}
    <ul>
    {% for article in articles %}
        <li>{{ article.title }} publié le {{ article.datepubli|date('d/m/Y') }}</li>
    {% endfor %}
    </ul>

{% endblock %}
